@charset "UTF-8";
* {
  font-family: "PT Sans Narrow", sans-serif;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: #000;
  font-size: 14px;
  background: url("../img/fon.png");
}
body.lock {
  overflow: hidden;
}

pre {
  white-space: pre-wrap;
}

.br {
  border: 1px solid #5e0c0c;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.08px) {
  .container {
    max-width: 520px;
    padding: 0px 10px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}
@media (max-width: 767.08px) {
  .header__list {
    display: block;
  }
}
.header__list li {
  margin-left: 15px;
}
@media (max-width: 767.08px) {
  .header__list li {
    padding: 0 0 20px 0;
  }
}
.header__link {
  position: relative;
  color: #d8eb2c;
  text-transform: lowercase;
  font-size: 16px;
  line-height: 20px;
}
.header__link span {
  text-transform: uppercase;
}
@media (max-width: 767.08px) {
  .header__link {
    font-size: 20px;
    line-height: 30px;
    text-shadow: 0 0 5px #d8eb2c, 0 0 15px #d8eb2c;
  }
}
.header__link.active {
  padding-bottom: 2px;
  border: none;
}
@media (max-width: 767.08px) {
  .header__link.active {
    padding: 0;
  }
}
.header__top1 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__top1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 100%, rgba(2, 12, 71, 0.9), #020c47, #020c47);
  z-index: 3;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  margin: 0 20px;
}
.header__logo {
  flex: 0 0 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.header__logo img {
  display: block;
  max-width: 100%;
}
.header__burger {
  display: none;
}
@media (max-width: 767.08px) {
  .header__burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }
  .header__burger span {
    position: absolute;
    background: #d8eb2c;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: 0.5s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background: #d8eb2c;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.5s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active::before {
  transform: rotate(135deg);
  top: 9px;
  background: #a50404;
}
.header__burger.active::after {
  transform: rotate(-135deg);
  top: 9px;
  background: #a50404;
}
@media (max-width: 767.08px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 120px 0px 0px 0px;
    text-align: center;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    transform: translateY(-110%);
    transition: 1s;
  }
  .header__menu.active {
    transform: translateY(0%);
  }
}

nav #header__marker {
  position: absolute;
  left: 0;
  height: 2px;
  width: 0;
  background: #ff0;
  bottom: -5px;
  transition: 0.5s;
}
@media (max-width: 767.08px) {
  nav #header__marker {
    display: none;
  }
}

.top2 {
  margin-top: 40px;
  width: 100%;
  height: 150px;
  background: radial-gradient(circle at 50% 200%, #01c710, #024a01);
}
.top2__wrap {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.top2__img {
  display: block;
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .top2__img {
    padding: 10px;
  }
}
@media (max-width: 767.08px) {
  .top2__img {
    display: none;
  }
}
.top2__img img {
  width: 100%;
  display: block;
}

.banner {
  display: flex;
  justify-content: space-between;
}
.banner__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .banner__wrap {
    padding: 10px;
  }
}
.banner__wrap .banner {
  display: flex;
  max-width: 470px;
  max-height: 62px;
}
.banner__wrap .banner img {
  max-width: 100%;
}
.banner__wrap .banner1 {
  max-width: 100%;
}
.banner__wrap .banner2 {
  max-width: 100%;
}

.menu-radius-left-rigth {
  border-radius: 10px 10px 0 0;
}

.menu {
  display: flex;
  width: 100%;
  height: 40px;
  background: radial-gradient(circle at 50% 100%, rgba(2, 12, 71, 0.9), #020c47, #020c47);
}

.menu .menu__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  flex-wrap: nowrap;
}

.menu .menu__list li {
  position: relative;
  color: #d8eb2c;
  text-transform: lowercase;
  font-size: 16px;
  line-height: 20px;
}

.menu .menu__list_flex {
  justify-content: space-evenly !important;
}

.content {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  background: #ebebeb;
  box-shadow: 0 0 10px #4d4d4d;
  flex: 1 1 auto;
}
@media (max-width: 479.98px) {
  .content {
    margin: 10px;
  }
}
.content .content__wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  padding: 0 20px;
}
.content .section {
  padding: 20px;
}
.content .section .block {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
}
.content .section .block .block__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 20px;
  text-align: center;
  color: #000;
}
.content .section .block .block__title h3 {
  font-size: smaller;
  padding: 5px 0 0 0;
}
.content .section .block__main {
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
  flex: 1 1 auto;
}
.content .section .block__img {
  position: relative;
  height: 130px;
  margin: 5px auto;
  border: 1px solid #000;
  overflow: hidden;
}
.content .section .block__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.content .section .block__img img:hover {
  transform: scale(1.1);
}
.content .section .block__desc {
  overflow: hidden;
  height: 65px;
}
.content .section .block__desc .block__desc_title {
  font-size: 1rem;
  line-height: 120%;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.content .section .block__footer {
  display: flex;
  align-items: center;
  flex: 0 0 20px;
}
.content .section .block__footer .block__fooret_state {
  padding-left: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
.content .section .block__footer .block__fooret_eye {
  margin-left: auto;
  margin-right: 10px;
}
.content .section .block__footer .block__fooret_eye .icon-eye {
  width: 16px;
  height: 16px;
  line-height: 17px;
  vertical-align: text-top;
  background: url("../img/icon-eye.png") no-repeat;
  padding-left: 20px;
}

.review {
  max-width: 100%;
  height: 100%;
}

.review hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #ffffff;
}

.review .review__item {
  max-width: 1000px;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 5px #4d4d4d;
  line-height: 20px;
  color: #333;
}

.review .review__item .review__title {
  text-align: center;
}

.review .review__item .review__title h1 {
  font-size: 20px;
  line-height: 30px;
  color: #777;
  text-transform: uppercase;
  margin-top: -7px;
}

.review .review__item .review__title h1 a, .review .review__item .review__title h1 a:visited {
  color: #666;
  text-decoration: none;
}

.review .review__item .review__img {
  width: 100%;
  border: 1px solid #b5b5b5;
}

.review .review__item .review__img img {
  width: 100%;
  padding: 5px;
  object-fit: cover;
}

.review .review__state {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: #777;
  text-transform: uppercase;
  margin: 2px 0 -12px 0;
}

.review .review__state .review__state_state span {
  font-weight: 600;
}

.review .review__state .review__state_data span {
  color: #000;
}

.review .review__tariff .review__tariff_box {
  padding: 10px;
  border: 3px dashed #30c22e;
}

.review i {
  font-size: 1.1rem;
  color: #666;
}

.review h3 {
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.review .font_weig_normal {
  font-weight: normal;
}

.review .review__quote,
.review .review__our {
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #777;
}

.review .descript {
  display: flex;
  flex-direction: column;
}

.review .descript .descript__item {
  margin-left: 15px;
}

.review .project-link {
  text-align: center;
  margin-top: 25px;
}

.review .project-link h1 {
  font-size: 20px;
  line-height: 30px;
  color: #777;
  text-transform: uppercase;
  margin-top: -7px;
}

.review .project-link h1 a, .review .project-link h1 a:visited {
  color: #666;
  text-decoration: none;
}

.footer {
  width: 100%;
  flex: 0 0 50px;
  background: radial-gradient(circle at 50% 200%, #01c710, #024a01);
}

.footer p {
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}